<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">장바구니</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">상품ID</th>
                <th scope="col">상품명</th>
                <th scope="col">수량</th>
                <th scope="col">가격</th>
                <th scope="col">담은날짜</th>
                <th scope="col">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="">
                <td th:text="}">1</td>
                <td th:text="">3번상품</td>
                <td th:text="">상품명</td>
                <td th:text="">수량</td>
                <td th:text="">가격</td>
                <td th:text="">날짜</td>
                <td class="btn btn-outline-dark"><a th:href="" style="text-decoration: none">삭제</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-3">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">총 수량</h4>
                </div>
                <form class="card-body" method="post">
                    <h1 class="card-title pricing-card-title" th:text="">$0</h1>

                </form>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-3">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">총 결제금액</h4>
                </div>
                <form class="card-body" onsubmit="return orderitem();" th:action="" method="post">
                    <h1 class="card-title pricing-card-title" th:text="">$0</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>잘못 담은 물건이 있는지 확인해보세요!</li>
                    </ul>
                    <button type="submit" class="w-100 btn btn-lg btn-outline-primary">구매하기</button>
                </form>
                <script th:inline="javascript">
                    /* <![CDATA[ */
                    function orderitem() {
                        var userMoney = [[${user.Coin}]];
                        var totalPrice = [[${totalPrice}]];

                        if (userMoney < totalPrice) {
                            alert("잔액이 부족합니다.")
                            return false
                        } else {
                            <!--document.getElementById("buy").innerText = count-->
                            return true
                        }
                    }

                    <!--button.addEventListener("click",additem)-->
                    /* ]]> */
                </script>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
</th:block>
</html>