<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<th:block layout:fragment="css">
</th:block>

    <div layout:fragment="content">
        <div class="container">
            <div class="clip_con">
                <h2 class="first" style="font-weight: 800;">Orders Record</h2>
            </div>
            <div class="table-responsive reserve_all_list" style="text-align: center;">
                <table class="table table-striped table-sm conTable ">
                    <thead>
                        <tr>
                            <th scope="col">주문번호</th>
                            <th scope="col">상품명</th>
                            <th scope="col">주문취소</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ordersList가 비어있지 않은 경우에만 출력 -->
                        <th:block th:if="${ordersList != null}">
                            <tr th:each="orders, index : ${ordersList}">
                                <td th:text="${index.index + 1}">1</td>
                                <td>
                                    <th:block th:each="orderGoods : ${orders.orderGoodsList}">
                                        <span th:text="${orderGoods.goods.goodsName}"></span>
                                    </th:block>
                                </td>
                                <td><button th:onclick="'deleteOrders(' + ${orders.id} + ')'">주문취소</button></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function deleteOrders(ordersId) {
            const cancelConf = confirm("주문을 취소하시겠습니까?");
            if(!cancelConf) return; // 취소 선택시 끝

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url : "/orders/delete/" + ordersId,
                type : "DELETE",
                contentType : "application/json",
                beforeSend : function(xhr) {
                    //데이터를 전송하기 전에 헤더에 csrf 값을 설정
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status) {
                    alert("주문취소가 완료되었습니다.");
                    location.reload();
                },
                error : function(jqXHR, status, error) {
                    if(jqXHR.status == '401') {
                     alert('로그인 후 이용해주세요.');
                     location.href = '/members/login';
                    } else {
                      alert(jqXHR.responseText);
                    }
                }
            });
        }
    </script>
</th:block>
</html>