<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PodoArena</title>

    <!-- css  -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


    <!-- 각 페이지의 CSS가 작성될 위치 -->
    <th:block layout:fragment="css"></th:block>


</head>
<body>
<div>
    <div th:replace="~{fragments/headerAdmin::header}"></div>
    <div layout:fragment="content" class="content"></div>
</div>

<!--  js  -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script"></th:block>
</body>
</html>