<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout2}">
  
  <th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/findid.css}">
  </th:block>
  <head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  </head>
  
  <div layout:fragment="content">
    <div class="findid_wrap">
      <div class="findid_logo">
        <a href="/">
          <img src="/images/logo_head.png" alt="로고" width="110" height="90" fill="none"/>
        </a>
      </div>
      
      <form role="form" id="findid-form">
        <div class="findid_form">
          <div class="input_box">
            <div class="input_style_input_name">
              <label th:for="name">
                <input type="text" class="input_text_name" id="name" name="name" placeholder="가입 시, 입력한 이름을 입력하세요.">
              </label>
            </div>
            <div class="input_style_input_phone">
              <label th:for="phone">
                <input type="text" class="input_text_phone" id="phone" name="phone" placeholder="가입 시, 입력한 전화번호를 입력하세요.">
              </label>
            </div>
          </div>
        </div>
        <div class="findid_style">
          <button onclick="findId()"
                  type="button" class="findid_btn" id="findIdBtn">
            <span>확인</span>
          </button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      </form>
      <div class="modal" id="findIdModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">아이디 찾기</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                  <div class="input_box">
                    <div class="input_style_input_id">
                      <p>회원님의 아이디는: <span id="id_text"></span></p>
                      <input type="hidden" />
                    </div>
                  </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      function findId() {
        var name = $("#name").val();
        var phone = $("#phone").val();
        
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        
        var formData = {
          name: name,
          phone: phone
        };
        $.ajax({
          url: "/members/showid",
          type: "POST",
          contentType: "application/json",
          beforeSend: function(xhr) {
            xhr.setRequestHeader(header, token);
          },
          dataType: "text",
          cache: false,
          data: JSON.stringify(formData), // 데이터를 JSON 형식으로 전송
          success: function(result, status, xhr, formData) {
            alert('인증에 성공하셨습니다.')
            $("#findIdModal").modal("show");
            $("#id_text").text(result);
          },
          error: function(jqXHR, status, error) {
            if (jqXHR.responseText === '가입되지 않은 이름입니다. 확인 후 다시 입력해주세요.') {
              alert('가입되지 않은 이름입니다. 확인 후 다시 입력해주세요.');
              location.href = '/members/findid'
            } else if(jqXHR.responseText === '가입되지 않은 번호입니다. 확인 후 다시 입력해주세요.') {
              alert('가입되지 않은 번호입니다. 확인 후 다시 입력해주세요.');
              location.href = '/members/findid'
            }
          }
        });
      }
    </script>
  </th:block>
</html>