<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}">
  </th:block>
  
  <div layout:fragment="content">
    <div class="mypage_wrap">
      <div class="mypage_logo">
        <a href="/">
          <img src="/images/logo_head.png" alt="로고" width="110" height="90" fill="none"/>
        </a>
      </div>
      <h3 style="text-align: center; margin-top: 5px;">회원정보 수정</h3>
      
      <form role="form" action="/members/mypage" method="post" id="mypage-form">
        <div class="mypage_form">
          <div class="input_box">
            <div class="input_style_input_pw">
              <label th:for="password">
                <i class="fa-solid fa-lock"></i>
                <input type="password" class="input_text_pw" id="password" name="password" placeholder="비밀번호">
              </label>
            </div>
          </div>
        </div>
        <div class="mypage_style">
          <button type="submit" class="mypage_btn" id="mypageBtn">
            <span>확인</span>
          </button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      </form>
    </div>
  </div>
  </div>
</html>
