<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        //회원가입을 실패했을떄 에러메세지
           var errorMessage  = [[${errorMessage}]]

           if(errorMessage != null) alert(errorMessage);
    </script>
</th:block>

</html>