<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layouts/layout2}">

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/register_edit.css}">
</th:block>
<div layout:fragment="content">
    <div class="container">
        <div class="register_header">
            <div>
                <a href="/">
                    <img src="/images/logo_head.png" alt="로고"
                         style="padding-top: 10px; display: flex; width: 80px; height:70px;" />
                </a>
            </div>
            <div class="register-title">
                <h2>회원가입</h2>
            </div>
            <div style="width: 80px; height: 70px;"></div>
        </div>
        <div class="register_wrap">
                <div class="register-form" style="display: flex; justify-content: center;">
                    <form class="form" role="form" action="/members/register" method="post" th:object="${memberFormDto}">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label th:for="email">이메일</label>
                                <input type="text" class="form-control" placeholder="이메일 입력" th:field="*{email}" />
                            </div>
                          <div class="col-md-12"></div>
                            <div class="col-md-2"> </div>
                            <div class="col-md-10">
                          <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect Data</p>
                          </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label th:for="password">비밀번호</label>
                                <input type="password" class="form-control" placeholder="8~12자 영문, 숫자, 특수문자" th:field="*{password}" />
                            </div>
                          <div class="col-md-12"></div>
                          <div class="col-md-2"> </div>
                          <div class="col-md-10">
                          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect Data</p>
                        </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label th:for="name">이름</label>
                                <input type="text" class="form-control" placeholder="이름을 입력해주세요" th:field="*{name}" />
                            </div>
                          <div class="col-md-12"></div>
                          <div class="col-md-2"> </div>
                          <div class="col-md-10">
                          <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect Data</p>
                        </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="address">
                                    <div class="address_top">
                                        <label th:for="address">주소</label>
                                        <input type="text" class="form-control" placeholder="주소를 입력해주세요" th:field="*{address}" />
                                    </div>
                                    <div class="address_mid">
                                        <input type="text" class="form-control" th:field="*{postcode}"  placeholder="우편번호" />
                                        <button class="post_btn" type="button" style="width:15rem;"
                                               onclick="execDaumPostcode()" value="우편번호 찾기">우편번호 찾기</button>
                                    </div>
                                    <div class="address_bottom">
                                        <input type="text" class="form-control" th:field="*{detailAddress}" placeholder="상세주소" />
                                        <input type="text" class="form-control" th:field="*{extraAddress}" placeholder="행정동" />
                                    </div>
                                </div>
                            </div>
                          <div class="col-md-12"></div>
                          <div class="col-md-2"> </div>
                          <div class="col-md-10">
                          <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect Data</p>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label th:for="phone">휴대폰</label>
                                <input type="text" class="form-control" placeholder="010-1234-4567 형식으로 입력해주세요." th:field="*{phone}" />
                            </div>
                          <div class="col-md-12"></div>
                          <div class="col-md-2"> </div>
                          <div class="col-md-10">
                          <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="fieldError">Incorrect Data</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="md-12 btn_div">
                                <button type="submit" class="register_btn">가입하기</button>
                            </div>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<th:block layout:fragment="script">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
        function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("extraAddress").value = extraAddr;

                } else {
                    document.getElementById("extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }

        //회원가입을 실패했을떄 에러메세지
           var errorMessage  = [[${errorMessage}]]

           if(errorMessage != null) alert(errorMessage);

    </script>
</th:block>

</html>