<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer>
    <div class="Footer_footerMenu__5a354">
        <ul class="Footer_footerMenuList__772c2 footerMenu">
            <li><a href="#">회사소개</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">위치기반서비스 이용약관</a></li>
            <li><a href="#">분쟁해결기준</a></li>
            <li><a href="#">여행약관</a></li>
            <li><a href="#">여행자보험 가입내역</a></li>
            <li><a href="#">티켓판매안내</a></li>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">로그인</a></li>
            <li><a href="#">고객센터</a></li>
        </ul>
    </div>
    <div class="container">

        <div class="footer_wrap">
            <div class="footer_left">
                <ul>
                    <li style="margin:1rem 1rem 2rem 1rem;">
                        <h3>PodoArena</h3>
                        Effective collaboration among programming team members is the cornerstone of success in software development.
                        Each team member brings a unique set of skills and perspectives to the table, fostering creativity and innovation.
                        Clear communication, mutual respect, and a shared commitment to the project's goals are essential for cohesive teamwork.
                        By leveraging each other's strengths and supporting one another through challenges, programming teams can overcome obstacles and deliver high-quality solutions efficiently.
                        <br>
                        The leader of Podo Arena is named <b style="color: #00a1e9;">Doraemon</b>.
                        Doraemon's pocket.Doraemon's pocket is filled with amazing futuristic gadgets, aiding Nobita and his friends in their adventures.
                    </li>
                </ul>
            </div>
            <div class="footer_right">
                <ul>
                    <li>
                        <p>MEMBERS
                        </p>
                    </li>
                    <li>
                        <span class="sangun">원상운</span> <span class="sangun">wsu063@gmail.com 。League of Legends Tier.Diamond</span><br>
                        <span class="eunhwa">박은화</span> <span class="eunhwa">cu_oo@naver.com 。League of Legends Tier.Diamond</span><br>
                        <span class="sseung">오승찬</span>  <span class="sseung">htc_desirehd@naver.com 。Apex Legends Tier.Master</span><br>
                        <span class="jeongmin">이정민</span> <span class="jeongmin">exo1461@naver.com 。 Seventeen.Carat</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>