<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer>
    <div class="container">
        <div class="footer_wrap">
            <div class="footer_left">
                <h1>포도알레나</h1>
                <p>MEMBERS:
                    <span class="sangun">원상운</span>,
                    <span class="eunhwa">박은화</span>,
                    <span class="sseung">오승찬</span>,
                    <span class="jeongmin">이정민</span>
                </p>
                <p>EAMIL:
                    <span class="sangun">wsu063@gmail.com</span>,<br>
                    <span class="eunhwa">cu_oo@naver.com</span>,<br>
                    <span class="sseung">htc_desirehd@naver.com</span>,<br>
                    <span class="jeongmin">exo1461@naver.com</span>
                </p>
            </div>
            <div class="footer_right">
                <ul>
                    <li>
                        대충 내용
                    </li>
                    <li>
                        대충 내용
                    </li>
                    <li>
                        대충 내용
                    </li>
                    <li>
                        대충 내용
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
</html>