<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <div class="container">
        <div class="header_wrap">
            <!-- 로고, 서치바, 로그인, 회원가입, 마이페이지 -->
            <div class="header_top">
                <div class="header_top_wrap">
                    <!-- 로고 -->
                    <div class="header_logo">
                        <a href="/">
                            <img src="/images/logo_head.png" alt="로고" width="80" height="60" fill="none"/>
                        </a>
                    </div>
                    <!-- 서치바 -->
                    <div class="header_searchbar">
                        <input type="text" placeholder="찾는 공연을 검색해보세요"/>
                        <a role="button" tabindex="0" class="search_btn"></a>
                    </div>
                    <!-- 유저메뉴 -->
                    <div class="header_usermenu">
                        <a href="/members/login">로그인</a>
                        <a href="/members/register">회원가입</a>
                        <!-- <a href="/members/"></a>-->
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="header_bottom">
            </div>
    </div>
</div>
</html>