.error {
           color: #bd2130;
}

.register_wrap{
    max-width: 40rem;
    margin: 0 auto;
    padding: 20rem;
}
.container{
  	margin-top: 80px;
  	width: 100%;
  	height: 100%;
}

.register-title {
    border-bottom: 1px solid;
}

h2 {
  display: flex;
  justify-content: center;
}

input{

  height:50px;
  width:90%;
  margin:0 auto;
  border: none;
  }

.form {
    position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;

}

.register_btn {
    display: block;
    width: 100%;
    height: 5.2rem;
    border-radius: 1.2rem;
    background-color: #1769ff;
    border: 0;
     font-weight: 700;
        font-size: 1.7rem;
        color: #fff;
}

