/* 폰트 */
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


/* 기본 화면 구성*/
@media(max-width: 759px) {
    html {
        font-size:15px
    }
}

@media(min-width: 760px) and (max-width:1023px) {
    html {
        font-size:15px
    }
}

@media(min-width: 1024px) and (max-width:1279px) {
    html {
        font-size:15px
    }
}

@media(min-width: 1280px) {
    html {
        font-size:15px
    }
}
/*  */
* {
    font-family: 'SUITE-Regular';
    }

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #fff;
}

/* h2 */

h2 {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

h2.first {
  font-weight: 700;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
}


h2.first:hover {
  border-bottom: 1px solid purple;
  font-weight: 300;
}


/* header */
.header_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.header_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 30px;
    box-sizing: border-box;
}

.header_top_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content : center;
    width: 100%;
    height: 60px;
    padding: 0;
    gap: 20px;
}

.header_logo {
    position: relative;
    padding: 0;
    gap: 6px;
    width: 225px;
    height: 60px;
}

.header_searchbar {
    width: 100%;
    height: 60px;
    background: #fff;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, .15);
    max-width: 452px;
}

.header_searchbar input {
    height: 18px;
    flex: 1;
    margin-left: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #111;
    border: 0;
    outline: 0;
    width: 100%
}

.header_usermenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    gap: 20px;
    width: 100%;
    max-width: 312px;
    height: 18px;
    border-radius: 6px;
    flex: 1;
    text-wrap: none;
}
.header_usermenu a {
    height: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

.header_bottom {
    width: 100%;
    padding-bottom: 2px;
}

.header_bottom_wrap {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.header_bottom_wrap > div > a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}

/* clip */
.clip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 0 0;
    cursor: default;
    width: 100%;
}

/* card */
.card {
    width: 18rem;
    margin: 0 40px;
    margin-bottom: 30px;
}

.card-1 {
   display: flex;
   justify-content: center;
   padding-top: 10px;
}

.card-body {
    flex: none;
}


/* hover effect 97 */
.SMN_effect-97 a {
  transition: all 0.3s ease 0s;
}

.SMN_effect-97 a:hover {
  animation: Rainbow 10s infinite;
}

@keyframes Rainbow {
  0% {
    color: #e74c3c;
  }
  20% {
    color: #e67e22;
  }
  35% {
    color: #f1c40f;
  }
  50% {
    color: #27ae60;
  }
  65% {
    color: #3498db;
  }
  85% {
    color: #8e44ad;
  }
  100% {
    color: #34495e;
  }
}


/* footer */
.footer_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    background: #fff;
    justify-content: space-around;

}

.footer_left {
    width: 30%;
    font-size: 14px;

}

.footer_right {
    width: 40%;
    font-size: 14px;
}

.footer_right ul{
    list-style-type: none;
}

.sangun {
    color: #6C0486;
}

.eunhwa {
    color: #EFADF0;
}

.sseung {
    color: #EBE082;
}

.jeongmin {
    color: #7BA4F4;
}

.card > a {
    text-decoration: none;
    color: inherit;
}