<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout4}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<div layout:fragment="content">
    <div id="warp">
        <div id="all" style="display: block;">
            <!--상단 메뉴 -->
            <div id="header" class="header">
                <ul class="gnb">
                    <li class="m01 "><span>관람일/회차</span></li>
                    <li class="m02"><span>좌석선택</span></li>
                    <li class="m03 on"><span>결제하기</span></li>
                </ul>
            </div>
            <div id="ContentsArea" class="main_contents" style="display: block;">
                <div id="step01">
                    <div class="step01_contents" >
                        <!-- 수령방법 선택  -->
                        <div style="width: 97%; padding-top: 0.6rem;">
                            <span style="margin: 1rem; font-size: 1rem;">수령방법선택</span>
                            <input type="radio" id="pickup" name="delivery_option" value="pickup" checked>
                            <label for="pickup" style="font-size: 16px;">현장 수령</label>
                        </div>
                        <!-- 결제 방법 선택 / 무통장입금만 사용 -->
                        <div style="width: 97%;">
                            <label for="bankSelect">
                                <span style="margin: 1rem; font-size: 1rem;">무통장입금</span>
                            </label>
                            <select id="bankSelect">
                                <option value="" disabled selected>은행선택</option>
                                <option value="shinhan">신한은행</option>
                                <option value="kb">국민은행</option>
                                <option value="nh">농협</option>
                                <option value="ibk">기업은행</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 티켓 주의사항 -->
                <div>
                    <table class="boardListTypeB tb_w">
                        <colgroup>
                            <col width="33%" align="center">
                            <col width="38%" align="center">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>내용</th>
                                <th>취소수수료</th>
                                <th>비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>예매 후 7일 이내</td>
                                <td>없음</td>
                                <td rowspan="5" class="bl_p alignLeft">- 취소 시 예매수수료는 예매 당일 밤<br> 12시 이전까지만 환불됩니다. <br>
                                    - 예매 후 7일 이내라도 취소시점이 관람일로부터 10일 이내라면 그에 해당하는 취소수수료가 부과됩니다.  <br>
                                    - 관람 당일 취소 가능 상품의 경우 관람 당일 취소 시 티켓금액의 90%가 취소수수수료로 부과됩니다.
                                </td>
                            </tr>
                            <tr>
                                <td>예매 후 8일 ~ 관람일 10일 전까지</td>
                                <td>뮤지컬, 콘서트, 클래식 등: <span class="red">장당 4,000원</span> /<br> 연극, 전시 등: <span class="red">장당 2,000원</span> <br>(단, 티켓 금액의 10% 이내)</td>
                            </tr>
                            <tr>
                                <td>관람일 9일 전 ~ 관람일 7일 전까지</td>
                                <td>티켓금액의 <em class="red">10%</em></td>
                            </tr>
                            <tr>
                                <td>관람일 6일 전 ~ 관람일 3일 전까지</td>
                                <td>티켓금액의 <em class="red">20%</em></td>
                            </tr>
                            <tr>
                                <td>관람일 2일 전 ~ 관람일 1일 전까지</td>
                                <td>티켓금액의 <em class="red">30%</em></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                 <!--  티켓 수령 주의 사항  -->
                <div class="caution" id="step04_DeliveryCaution" style="display: block; width: 97%;">
                    <h5>주의사항 <em style="font-weight:normal;">
                        * 부정확한 정보 입력으로 인한 문제 발생 시 PodoArena는 책임을 지지 않습니다.</em></h5>
                    <ul style="padding-left: 2rem;">
                        <li>1)<span class="red"> 배송으로 선택 시 티켓 수령자의 배송지 정보를 정확히 입력해주시기 바랍니다.</span></li>
                        <li>2)<span class="red"> 티켓은 유가증권으로 본인에게 직접 전달해야하며, 분실된 티켓은 재발권 되지 않습니다.</span></li>
                        <li>3)<span class="red"> 일괄배송의 경우 정해진 날짜에 티켓 배송이 시작되며, 주소 수정은 일괄배송일 2일 전까지 가능합니다.</span></li>
                        <li>4)<span class="red"> 예매 티켓 배송은 예매완료일, 혹은 일괄배송일로부터 4~5일(영업일 기준) 이내 수령 가능합니다.</span> </li>
                        <li>5) 긴급연락처는 공연 취소와 같은 유사 시 안내 받으실 연락처이므로 정확히 입력해주시기 바랍니다.</li>
                        <li>6) 이메일 정보 미 입력 시 예매 관련 안내 메일을 받을 수 없으니 이메일 받기를 원하시는 경우 마이페이지에서<br>&nbsp;&nbsp;&nbsp;회원정보를 수정해주시기 바랍니다.</li>
                    </ul>
                </div>

                <!--  개인정보 수집 및 이용 동의  -->
                 <div>
                    <span class="chkbox">
                        <input id="cbxAllAgree" type="checkbox" onclick="fdc_AllAgree();"><label><em class="bold">모두 동의합니다.</em></label>
                        <input id="chkUserAgree" type="checkbox"><label>개인정보 수집 및 이용에 동의합니다. <a href="javascript:fdc_PopupUserAgree();"> [상세보기]</a></label><br>
                        <input id="cbxCancelFeeAgree" type="checkbox"><label id="chkCancelFeeAgreeText">취소수수료 및 취소기한을 확인하였으며, 동의합니다.</label>
                        <input id="chkinfoAgree" type="checkbox"><label>제3자 정보제공 내용에 동의합니다. <a href="javascript:fdc_PopupSaleAgree('49543')">[상세보기]</a></label>
                    </span>
                 </div>
            </div>
        </div>

        <!-- 오른쪽 예매 상황-->
        <div id="StateBoard">
            <div class="result">
                <div id="perfboard" class="title">
                    <!-- 상황판 -->
                    <div class="select_infor" style="padding-bottom:52px;">
                        <h3 style="text-align-last: center;">선택내역</h3>
                        <!-- 예매내역 -->
                        <ul>
                            <li class="concert_poster_li">
                                <img th:src="@{${concertFormDto.concertImgDtoList[0].imgUrl}}"
                                     alt="슬라이드"  class="concert_poster"  >
                            </li>
                            <li  class="infor_info">
                                <span>아티스트</span>
                                <p th:text="${concertFormDto.concertSinger}"></p>
                            </li>
                            <li class="infor_info">
                                <span id="tk_day">날짜</span>
                                <p th:text="${#temporals.format(concertFormDto.dates[0].dateTime, 'yyyy.MM.dd')} +
                                        ' ~ ' + ${#temporals.format(concertFormDto.dates[concertFormDto.dates.size() - 1].dateTime, 'yyyy.MM.dd')}">
                                </p>
                            </li>
                            <li class="infor_info">
                                <span id="tk_time">시간</span>
                                <p th:text="${concertFormDto.concertPlayTime} + 분"></p>
                            </li>
                            <li class="infor_info">
                                <span id="tk_count">매수</span>
                                <p>1</p>
                            </li>
                            <li class="infor_info">
                                <span id="tk_seat">좌석</span>
                                <p th:text="${seat.seatName}"></p>
                            </li>
                            <li class="infor_info">
                                <span>결제금액</span>
                                <p th:text="${seat.seatPrice} + '원'"></p>
                            </li>
                        </ul>

                    </div>

                    <!-- 다음단계 이전단계 버튼  -->
                    <div class="step_btn">
                        <!-- 이전 버튼 -->
                        <form name = "backForm" th:action="@{'/reserves/reserveSeat/' + ${concertFormDto.id}}"
                              method="post" enctype="multipart/form-data" >
                            <input type="hidden" name="dateId" id="dateId" th:value="${seat.date.id}">
                            <button class="back_button" type="button">
                                이전 단계
                            </button>
                        </form>
                        <!-- 다음 버튼 -->
                        <form name="reserveForm" th:action="@{'/reserves/reserve/' + ${concertFormDto.id}}" method="post">
                            <input type="hidden" id="seatId" name="seatId" th:value="${seat.id}">
                            <input type="hidden" id="concertId" th:value="${concertFormDto.id}"/>
                            <input type="hidden" name="bank" id="bank" value>
                            <button class="next_button"
                                    type="button">
                                결제 하기
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function fdc_AllAgree() {
            var cbxAllAgree = document.getElementById("cbxAllAgree");
            var chkUserAgree = document.getElementById("chkUserAgree");
            var cbxCancelFeeAgree = document.getElementById("cbxCancelFeeAgree");
            var chkinfoAgree = document.getElementById("chkinfoAgree");

            // 모두 동의합니다 체크 여부 확인
            if (cbxAllAgree.checked) {
                // 모든 체크박스 체크하기
                chkUserAgree.checked = true;
                cbxCancelFeeAgree.checked = true;
                chkinfoAgree.checked = true;
            } else {
                // 모든 체크박스 해제하기
                chkUserAgree.checked = false;
                cbxCancelFeeAgree.checked = false;
                chkinfoAgree.checked = false;
            }
        }
        function closeBrowser() {
            // 현재 브라우저 닫기
            window.close();
        }

        function onNextButtonClick() {
            var bankSelect = document.getElementById("bankSelect");
            var chkUserAgree = document.getElementById("chkUserAgree");
            var cbxCancelFeeAgree = document.getElementById("cbxCancelFeeAgree");
            var chkinfoAgree = document.getElementById("chkinfoAgree");
            var concertId = $("#concertId").attr("value");

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            // 은행 선택 여부 확인
            if (bankSelect.value === "") {
                alert("은행을 선택해주세요.");
            } else if (!chkUserAgree.checked || !cbxCancelFeeAgree.checked || !chkinfoAgree.checked) {
                alert("모든 항목에 동의해주세요.");
            } else {
                document.getElementById('bank').value = bank;
                var seatId = $("#seatId").attr("value");
                console.log(seatId);
                // 현재 브라우저 닫기
                var formData = {
                  seatId: seatId
                };
                $.ajax({
                  url: "/reserves/reserve/" + concertId,
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                  },
                  cache: false,
                  data: JSON.stringify(formData), // 데이터를 JSON 형식으로 전송
                  success: function (result, status, xhr, formData) {
                    const conf = confirm("결제가 완료되었습니다.");
                    //아무 버튼이나 누르면 창을 닫는다.
                    closeBrowser();
                  },
                  error: function (jqXHR) {
                    if(jqXHR.status == '401') {
                     const conf = confirm("로그인 후 이용해주세요.");
                     closeBrowser();
                    } else {
                      alert(jqXHR.responseText);
                    }
                  }
                });
            }

        }

        $('.next_button').click(function(event) {
            event.preventDefault(); // 기본 동작(링크 이동) 막기
            onNextButtonClick(); // 다음 버튼 처리 함수 호출
        });

        function onBackButtonClick() {
            const f = document.backForm;
            var dateId = $("#dateId").attr("value"); // 선택된 좌석의 seatId
            f.submit();
        }

        $('.back_button').click(function(event) {
            event.preventDefault(); // 기본 동작(링크 이동) 막기
            onBackButtonClick(); // 이전 버튼 처리 함수 호출
        });


    </script>
</th:block>
</html>